@tailwind base;
@tailwind components;
@tailwind utilities;

@import '@my/components/cards.css';
@import '@my/components/navbar.css';
@import './animation.css';

:root {
  --nav-progres-height: 2px;
  --nav-height: 60px;
}

body {
  @apply bg-gray-900;
  @apply text-gray-300;
  @apply border-gray-600;
  font-family: 'Roboto', sans-serif;
}

p {
  @apply text-base;
  font-family: 'Roboto', sans-serif;
}

h1 {
  @apply p-0;
  @apply m-0;
  @apply text-4xl;
  @apply font-extrabold;
  font-family: 'Oswald', sans-serif;
}

h2 {
  @apply p-0;
  @apply m-0;
  @apply text-3xl;
  @apply font-bold;
  font-family: 'Oswald', sans-serif;
}

h3 {
  @apply p-0;
  @apply m-0;
  @apply text-2xl;
  @apply font-semibold;
  font-family: 'Oswald', sans-serif;
}

h4 {
  @apply p-0;
  @apply m-0;
  @apply font-semibold;
  font-family: 'Oswald', sans-serif;
}

h5 {
  @apply p-0;
  @apply m-0;
  @apply font-medium;
  font-family: 'Roboto Mono', monospace;
}

h6 {
  @apply p-0;
  @apply m-0;
  @apply text-sm;
  font-family: 'Roboto Mono', monospace;
}

.font-roboto-mono {
  font-family: 'Roboto Mono', monospace;
}


.top {
  top: calc(var(--nav-height) + var(--nav-progres-height));
}

.margin-top {
  margin-top: calc(var(--nav-height) + var(--nav-progres-height));
}

.height-screen {
  height: calc( 100vh - (var(--nav-height) + var(--nav-progres-height)));
}

.typing {
  @apply relative;
  @apply px-1;
}

.typing:before {
  content: "";
  @apply absolute top-0 left-0;
  @apply h-full w-full;
  @apply border-l;
  animation: typing 4s steps(12) infinite;
}

@keyframes typing {
  40%, 60% {
    left: 100%;
  }
  100% {
    left: 0%;
  }
}